
html{
	font-size:20px;
}

body{
	font-family:"Arial", "Meiryo", sans-serif;
	text-align:center;
}

.blue{
	color: skyblue;
}

.pink{
	color:pink;
}

h1{
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	
	font-size:2rem;
	letter-spacing:1.2em;
	text-shadow: 4px 2px 4px #ccc;
	border-bottom:3px solid rgb(115,115,114);

}

#basic p{
	font-weight:bold;
}